// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.variate-menu {
  position: fixed;
  right: 0px;
  top: 55px;
  width: 300px;
  display: block;
  // TODO: opacity could be a mixin
  opacity: 0.9;
  filter: alpha(opacity=9); // For <= IE8;

  ul {
    padding-left: 0;
  }

  li {
    white-space: nowrap;
    overflow: hidden;
    ul {
      font-size: 14px;
      color: #333;
      list-style: none;

    }
  }

  span.text {
    overflow: hidden;
  }

  li:hover {
    background-color: #f5f5f5;
  }

  li.dropdown-header {
    padding: 0;
  }

  li.dropdown-header:hover {
    background-color: #fff;
  }

  li.dropdown-header > span {
    display: block;
    padding: 3px 20px;
  }

  li.dropdown-header > span:hover {
    background-color: #f5f5f5;
  }

  label {
    width: 133px;
    text-align: right;
    margin-right: 1em;
    font-weight: normal;
  }

  input {
    width: 128px;
  }

}

iframe {
  .emvt_red {
    background-color: #000;
  }
}

.variate_list {

  .variate_button {
    display: inline-block;
  }

  .variate_no {
    border-width: 1px 0 1px 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .delete {
    border-width: 1px 1px 1px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -4px;
  }

  form.variate {
    display:inline;
    margin-left: -4px;
    button {
      border-width: 1px 0;
      border-radius: 0;
    }
  }

  form.variate.add {
    margin-left: 0;
    button {
      border-width: 1px;
      border-radius: 4px;
    }
  }

}